$sidebar: 18.5rem;
$navbar: 4.5rem;
.navbar {
  height: $navbar;
  z-index: 10000;
  @apply fixed top-0 left-0;
}

.sidebar {
  width: $sidebar;
  margin-top: $navbar;
  height: calc(100vh - $navbar);
  overflow-y: scroll;
  @apply fixed left-0 bottom-0;
}
.main {
  width: 100%;
  margin-left: $sidebar;
  margin-top: $navbar;
  // z-index: -1;
}

.section {
  $left: 18rem;
  @apply w-screen;
  .left {
    width: $left;
    @apply fixed left-0 top-0 h-screen border-r border-gray-300;
  }
  .right {
    margin-left: $left;
    // @apply w-full;
  }
}
