@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus {
    outline: none;
}

p {
    word-break: break-all;
    white-space: normal;
}

.shadow-inner{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@import "navbar";
